header{
    background-color: black;
}
#heading-font{
    font-family: 'Berkshire Swash', cursive;
    color: #FF5E19;
    font-size: 60px;
}
header{
    Width: 1349px;
    height: 385px;
    padding-top: 100px;
}
#text-font{
    font-family: Arial, Helvetica, sans-serif;
    width: 80%;
    padding-left: 300px;
    font-family: 'Poppins', sans-serif;
}
.banner-img{
    position: absolute;
width: 300px;
height: 374.76px;
left: -4px;
top: 29px;
padding-left: 3px;
} 
.banner-img2{
    position: absolute;
    left: 89.5%;
    right: -3.41%;
    top: 30%;
    bottom: 79.08%;
    
    background: url(.png);
    border-radius: 14.4167px;
}
.select-btn{
    background-color: #015196;
    padding-left: 50px;
    border: none;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 30px;
    margin-top: 5px;
}
.card{
    background-color: black;
    width: 250px;
    height: 300px;
    margin: 20px;
}
.list-box{
    background-color: black;
}
.calc-box{
    background-color: black;
    width: 264px;
    height: 514px;
    margin-left: 30px;
    margin-top: 40px;
}
.select-box{
    width: 264px;
    height: 300px;
    margin-top: 40px;
    margin-left: 30px;
    background-color: black;

}
.player-box{
    margin-left: 35px;
    
}
.calc-btn{
    margin-top: 10px;
    margin-left: 45px;
    background-color: #015196;
    padding-left: 50px;
    border: none;
    padding-right: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.calc-total-btn{
    background-color: #015196;
    margin-left: 40px;
    margin-top: 8px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.total{
    color: #FF5E19;
}